<!doctype html>
<html>
	<head>
		<title>{{board_title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<div class="container">
	<div class="header">
		<div style="margin:10px">
		<img style="width: 100px;float:right" src="/static/tum.svg">
		<h1>{{board_title}}</h1>
		</div>
	</div>
	<div class="login" sytle="flex-direction:column">
	<div style="text-align:left; margin: 40px 20px;">
		<h2>Error 404 - Stuff to Hack not Found</h2>
		It looks like that what you are looking for is not here :-(
	</div>

	</div>
	<footer>
		<a href="https://www.sec.in.tum.de/i20/data-privacy">Datenschutz</a> |
		<a href="https://www.sec.in.tum.de/i20/imprint">Impressum</a>
	</footer>
	</div>
	</body>
</html>

