<!doctype html>
<html>
	<head>
		<title>{{board_title}}</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
	</head>
	<body>
	<div class="container">
	<div class="header">
		<div style="margin:10px">
			<img style="width: 100px;float:right" src="static/tum.svg">
			<h1>{{board_title}}</h1>
		</div>
	</div>
	<div class="login" sytle="flex-direction:column">
	<div style="text-align:left; margin: 20px 0px;">
		<h2>Login</h2>
		{{welcome_text|safe}}<br>
	</div>

	<a href="/shib-login" class="tum-btn">Sign in using TUM-ID</a>
	</div>
	<footer>
		<a href="https://www.sec.in.tum.de/i20/data-privacy">Datenschutz</a> |
		<a href="https://www.sec.in.tum.de/i20/imprint">Impressum</a> | 
		<a href="/alternative-login">Alternativer Login</a>
	</footer>
	</div>
	</body>
</html>
