{% extends "base.html" %}
{% block content %}
<h3>Timesheet</h3>

<table>
	<tr>
		<th>Date</th>
		<th>Start</th>
		<th>End</th>
		<th>Task</th>
		<th>Description</th>
		<th></th>
	</tr>
	<tbody id="tasks">
	</tbody>
	<tr>
		<td id="errmsg" colspan="6" style="display: none; border: 0; border-radius:5px; color: white; padding: 8px 12px; background-color: #aa0000"></td>
	</tr>
	{% if not admin_mode %}
	<tr>
		<td><input type="date"></td>
		<td><input type="time" style="width: 100px" placeholder="Start"></td>
		<td><input type="time" style="width: 100px" placeholder="End"></td>
		<td><select>{% for r in tasktypes %}<option value="{{r.tasktype_id}}">{{r.tasktype_desc}}</option>{%endfor%}</select></td>
		<td><input type="text" placeholder="Closer description (optional)"></td>
		<td><button id="add-task-btn" class="tum-btn">Add</button></td>
	</tr>
	{% endif %}
</table>

<template id="new-row">
	<tr>
		<td data-bind="start_date"></td>
		<td data-bind="start"></td>
		<td data-bind="end"></td>
		<td data-bind="tasktype_desc"></td>
		<td data-bind="notes"></td>
		<td>{% if admin_mode %}
				<button class="tum-btn">Approve</button>
			{% else %}
				<button class="tum-btn">Delete</button>
			{% endif %}
		</td>
	</tr>
</template>
<template id="sum-row">
	<tr><td colspan="6"><b></b></td></tr>
</template>

<script src="/static/timesheet.js"></script>
{% endblock %}
